<a href="https://colab.research.google.com/github/kolisachint/ExploreDataWithColab/blob/master/ExploreDataTemplate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Before you begin


1.   Use the [Cloud Resource Manager](https://console.cloud.google.com/cloud-resource-manager) to Create a Cloud Platform project if you do not already have one.
2.   [Enable BigQuery](https://console.cloud.google.com/flows/enableapi?apiid=bigquery) APIs for the project.

### Provide your credentials to the runtime

In [33]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

### Declare the Cloud project ID which will be used throughout this notebook

In [0]:
project_id = 'sachinproject'   # Change Project ID

### Use BigQuery through google-cloud-bigquery

See [BigQuery documentation](https://cloud.google.com/bigquery/docs) and [library reference documentation](https://googlecloudplatform.github.io/google-cloud-python/latest/bigquery/usage.html).

In [0]:
from google.cloud import bigquery
client = bigquery.Client(project=project_id)

### Prepare your query here
Prepare your query here

In [0]:
myQUERY = """
        SELECT license, COUNT(*) AS count
        FROM `bigquery-public-data.github_repos.licenses`
        GROUP BY license
        ORDER BY COUNT(*) DESC
        """

###Estimate the size of your queries before you make them
Now for the really cool part. We’re eager to start analyzing the BigQuery dataset to uncover insights, but we should be careful about how much data we scan in our queries. Let’s make those free 1TB count!

In [37]:
dry_run_config = bigquery.job.QueryJobConfig()
dry_run_config.dry_run = True
dry_run_job = client.query(myQUERY, job_config=dry_run_config)
print("This query will process ",dry_run_job.total_bytes_processed / BYTES_PER_MB,"MB when run. ")

This query will process  24.805376052856445 MB when run.

### Execute your query
Execute your query here.
# Do not run this cell until necessary :)

In [48]:
df = client.query(myQUERY).to_dataframe()

print('Full dataset has %d rows and %d columns. ' % (df.shape[0], df.shape[1]))

Full dataset has 15 rows and 2 columns.

### Describe the sampled data

In [49]:
df.describe()

              count
count  1.500000e+01
mean   2.233593e+05
std    4.385058e+05
min    8.696000e+03
25%    2.369450e+04
50%    4.148500e+04
75%    2.484410e+05
max    1.710122e+06

### View the first 10 rows

In [50]:
df.head(10)

        license    count
0           mit  1710122
1    apache-2.0   493503
2       gpl-2.0   345658
3       gpl-3.0   343615
4  bsd-3-clause   153267
5  bsd-2-clause    56028
6     unlicense    46772
7      agpl-3.0    41485
8      lgpl-3.0    40074
9       cc0-1.0    27040

### Show all contents of dataframe

In [53]:
df

         license    count
0            mit  1710122
1     apache-2.0   493503
2        gpl-2.0   345658
3        gpl-3.0   343615
4   bsd-3-clause   153267
5   bsd-2-clause    56028
6      unlicense    46772
7       agpl-3.0    41485
8       lgpl-3.0    40074
9        cc0-1.0    27040
10       epl-1.0    24412
11      lgpl-2.1    22977
12       mpl-2.0    18930
13           isc    17811
14  artistic-2.0     8696